{% extends "profile/profile_base.html" %}
{% block title %}Profile Home{% endblock %}
{% block profile_block %}
<h2>Your Orders</h2>

{% if orders %}
<ul class="list-group">
    {% for order in orders %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>Order:</strong> {{ order.order_id }} <br>
            <strong>Date:</strong> {{ order.created_at.strftime('%d %b %Y %H:%M') if order.created_at }} <br>
            <strong>Status:</strong> {{ order.status }} <br>
            <strong>Total:</strong> ₹{{ '%.2f' % order.total_amount }}
        </div>
        {% if order.tracking_number %}
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-success btn-sm" disabled>Sent</button>
            <strong>Tracking:</strong> {{ order.tracking_number }}
        </div>
        {% endif %}

        <a href="{{ url_for('orders.invoice', order_id=order.order_id) }}" class="btn btn-primary btn-sm">View</a>
        <a href="{{ url_for('orders.download_invoice', order_id=order.order_id) }}" class="btn btn-secondary btn-sm">Download</a>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven’t placed any orders yet.</p>
{% endif %}
{% endblock %}



