{% extends "base/base.html" %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/cart.css') }}">
{% endblock %}
<h2 style="margin-bottom: 20px;">Your Cart</h2>

{% if items %}
<div class="cart-container">
    {% for item in items %}
    <div class="cart-item">
        <img src="/{{ item.product.image }}" alt="{{ item.product.name }}" class="cart-item-img">

        <div class="cart-item-details">
            <p class="cart-item-name">{{ item.product.name }}</p>
            <p class="cart-item-quantity">Quantity: {{ item.quantity }}</p>
            <p class="cart-item-quantity">Unit Price: {{ item.price }}</p>
        </div>

        <div class="cart-item-price">
            ₹{{ '%.2f' % (item.price * item.quantity) }}
        </div>

        {% if item.cart_item_id %}
        <form action="{{ url_for('cart.remove_cart_item', item_id=item.cart_item_id) }}" method="POST"
              class="cart-item-remove">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">×</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}

    <div class="cart-total">
        <span>Subtotal:</span>
        <span>₹{{ '%.2f' % total }}</span>
    </div>

    <div class="cart-actions">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('checkout.checkout') }}" class="btn btn-success">Proceed to Checkout</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Create an account to checkout</a>
        <a href="{{ url_for('auth.login') }}" class="btn btn-success">Login to checkout</a>
        {% endif %}
    </div>
</div>

{% else %}
<p>Your cart is empty.</p>
{% endif %}


{% endblock %}