<div id="addAddressForm" class="add-address-form hidden">
    <form method="POST" action="{{ url_for('profile.profile_addresses') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" name="street" id="street" required>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" id="city" required>
        </div>
        <div class="form-group">
            <label for="postcode">Postcode</label>
            <input type="text" class="form-control" name="postcode" id="postcode" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save New Address</button>
    </form>
</div>