<a href="{{ url_for('cart.view_cart') }}" class="nav-link px-2 position-relative">
  <img src="{{ url_for('static', filename='images/cart.svg') }}"
       alt="Cart" width="30" class="product-img"
       style="filter: {% if cart_items|length > 0 %}invert(34%) sepia(77%) saturate(545%) hue-rotate(97deg) brightness(95%) contrast(92%){% else %}none{% endif %};">
  {% if cart_items|length > 0 %}
  <span class="position-absolute badge rounded-pill bg-danger"
        style="top: -3px; right: 0px; font-size: 0.7rem; min-width: 20px;">
    {{ cart_items|length }}
  </span>
  {% endif %}
</a>