<!-- _product_admin_table.html -->
{% if current_user.admin and price_groups %}
<h4>Available Bars</h4>
<table class="table">
    <thead>
        <tr>
            <th>Price (₹)</th>
            <th>Quantity in stock</th>
            <th>Expiry date</th>
            <th>Box id</th>
            <th>Shipment id</th>
        </tr>
    </thead>
    <tbody>
        {% for price, data in price_groups.items() %}
        <tr {% if next_box and price == next_box.price_inr_unit %} class="table-success" {% endif %}>
            <td>₹{{ '%.2f' % data.box.price_inr_unit }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.expiry.strftime('%Y-%m-%d') if data.expiry else 'N/A' }}</td>
            <td>{{ data.box.id }}</td>
            <td>{{ data.shipment.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}