{% if current_user.is_authenticated %}
<div class="dropdown">
  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
     data-bs-toggle="dropdown" aria-expanded="false">
    <img src="{{ current_user.email | gravatar }}" alt="Profile" width="50" height="50" class="rounded-circle product-img">
  </a>
  <ul class="dropdown-menu text-small">
    <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
  </ul>
</div>
{% endif %}