<!-- auth/register.html -->
{% extends 'base/base.html' %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading text-center">
            <h1>Register</h1>
            <span class="subheading">Join Our Chocolate Community</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" onclick="togglePassword()" class="form-check-input" id="showPassword">
                    <label class="form-check-label" for="showPassword">Show Password</label>
                </div>
<!--                TODO Style the button to match our Theme-->
                {{ form.submit(class="btn btn-primary w-100") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

